hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border-top: 4px solid #eee;
}

.post-meta span{
      font-size: 13px; 
}

.post-meta span:not(:first-child){
    margin-left: 15px;
}

.marginTop30{
     margin-top: 30px;
}

.marginBottom15{
   margin-bottom: 15px; 
}

.marginBottom10{
   margin-bottom: 10px;
}

.required{
   color: red;
   font-size: 12px;
}

.comment {
     border: 1px solid #d3e0e9;
     background: #f5f8fa;
     padding: 10px;
}

.post-meta{
    margin-top: 10px;
}

